.socialLinksSection__links {
  max-width: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60%;
  left: 0;
  background: var(--color-primary);
  border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
  gap: var(--spacing-2);
  padding: var(--spacing-2) 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 10;
  font-size: var(--font-size-1);
}
.socialLinksSection__links__title {
  font-weight: 600;
  color: white;
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLinksSection__links__item {
  color: white;
  border-radius: var(--radius-full);
  padding: 4px;
  aspect-ratio: 1/1;
  &:hover {
    color: color-mix(in oklch, var(--color-primary) 50%, oklch(0.1 0 0));
    background-color: oklch(1 0 none / 0.75);
  }
}

.socialLinksSection__links__item__icon {
  font-size: var(--font-size-2);
}