.sectionTitle {
    color: var(--text-color);
    font-size: var(--font-size-4);
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--spacing-2);
    max-width: fit-content;
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
  
  .divider {
    position: relative;
    padding: var(--spacing-1) 0;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0.5px;
      background-color: var(--color-primary);
    }
  }
  