.sectionTitle {
  position: relative;
  margin-bottom: var(--spacing-2);
  background: radial-gradient(
    circle at center left,
    var(--color-primary) 0%,
    color-mix(in oklch, var(--color-primary) 70%, oklch(0 0 0 / 0.5)) 100%
  );
  -webkit-background-clip: text;
  max-width: fit-content;
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--font-size-4);
  font-family: var(--font-family-heading);
  text-align: left;
  text-wrap: pretty;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: var(--color-primary);
    width: 100%;
    height: 2px;
    content: "";
  }
}

.divider {
  position: relative;
  padding: var(--spacing-1) 0;
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--color-primary);
    width: 100%;
    height: 0.5px;
    content: "";
  }
}

.glassmorphism {
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 0
    color-mix(in oklch, var(--color-primary) 10%, transparent);
  border: 3px solid color-mix(in oklch, var(--color-primary) 10%, transparent);
  background-color: color-mix(in oklch, var(--color-primary) 10%, transparent);
}

.highlight {
  border-radius: var(--radius-md);
  background-color: color-mix(in oklch, var(--color-primary) 10%, transparent);
  padding: 0.15rem 0.5rem;
  color: var(--color-primary);
}
