.notFoundContainer {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  margin: 0 auto;
  padding: var(--spacing-2);
  max-width: 95%;
  min-height: 75vh;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @media (min-width: 1024px) {
    max-width: 1400px;
  }
}

.notFoundContainer__animation {
  z-index: -1;
  border-radius: var(--radius-xl);
  background: radial-gradient(
    ellipse at center,
    oklch(0.8 0.16 290.85) 0%,
    var(--page-background-color) 40%
  );
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 600px;
  }
}
.notFoundContainer__letterGlitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notFoundContainer__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);
  border-radius: var(--radius-lg);
  padding: var(--spacing-2);
  overflow: hidden;
  @media (min-width: 768px) {
    align-items: flex-start;
  }
  .notFoundContainer__glassCard {
    backdrop-filter: blur(10px);
    border: 1px solid oklch(0.95 0.0636 311.08);
    border-radius: var(--radius-lg);
    background-color: oklch(0.9 0.0636 311.08 / 0.2);
  }
  .notFoundContainer__contentInner {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-2);
    z-index: 2;
    padding: var(--spacing-4);
    width: 100%;
    height: 100%;

    .notFoundContainer__errorCode {
      font-weight: 600;
      font-size: var(--font-size-2);
    }

    .notFoundContainer__title {
      font-weight: 900;
      font-size: var(--font-size-4);
    }

    .notFoundContainer__subtitle {
      font-weight: 600;
      font-size: var(--font-size-2);
    }

    .notFoundContainer__button {
      transition: all 0.3s ease;
      border-radius: var(--radius-full);
      background-color: var(--color-primary);
      padding: var(--spacing-1) var(--spacing-3);
      color: oklch(0.95 0 0);
      font-weight: 600;
      font-size: var(--font-size-2);
      text-decoration: none;
    }
  }
}
