@import "./theme.css";
@import "./variables.css";
@import "./globals.css";
@import "./globals.classes.css";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  margin: 0 auto;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100svh;
  width: 100%;
  padding-bottom: 100px;

  .container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}

.bioSection,
.seoSection,
.resumeSection,
.projectsSection {
  max-width: 84vw;

  @media (min-width: 768px) {
    max-width: 1400px;
  }
}

.introductionSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  width: 100%;
  height: 100%;
  position: relative;
  @media (max-width: 768px) {
    max-width: 84vw;
  }

  .introductionSection__content {
    height: 100%;
    min-height: 80vh;
    display: flex;
    padding-bottom: var(--spacing-4);
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-2);
    position: relative;
    color: var(--text-color);
    overflow: hidden;
    @media (max-width: 768px) {
      padding-bottom: var(--spacing-2);
    }
  }

  .introductionSection__title, .introductionSection__subtitle {
    font-family: var(--font-family-intro);
    font-size: clamp(2rem, 2rem + 3vw, 8rem);
    font-weight: 900;
    line-height: 1;
    z-index: 2;
    color: var(--color-primary);
    letter-spacing: 0.01em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .introductionSection__title {
    text-align: right;
  }

  .introductionSection__subtitle {
    text-align: left;
  }

  .introductionSection__accentTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 0;
    .introductionSection__accentTextContainer__inner-1,
    .introductionSection__accentTextContainer__inner-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      animation: fadeIn 2s ease-in-out 1s;
      animation-fill-mode: forwards;
    }

    .introductionSection__accentTextContainer__inner-1 .introductionSection__accentText {
      background: linear-gradient(to top, transparent 0%, oklch(0.85 0 0) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    .introductionSection__accentTextContainer__inner-2 .introductionSection__accentText {
      background: linear-gradient(to bottom, transparent 0%, oklch(0.85 0 0) 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
    .introductionSection__accentText {
      padding: 0 var(--spacing-4);
      text-wrap: nowrap;
      margin: 0 var(--spacing-2);
      font-family: var(--font-family-accent);
      font-size: clamp(2rem, 70vh, 20rem);
      font-weight: 900;
      letter-spacing: 0;
      line-height: 1;
      @media (max-width: 1024px) {
        font-size: clamp(2rem, 30vw, 15rem);
      }
      @media (max-width: 768px) {
        font-size: clamp(2rem, 20vh, 15rem);
      }
    }
  }

  .introductionSection__splineObject {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2s;
    animation-fill-mode: forwards;
  }
}

.bioSection {
  .bioSection__content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, auto);
    align-items: center;
    justify-items: center;
    gap: var(--spacing-2);
    overflow: hidden;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }
    .bioSection__imageContainer {
      grid-area: 1 / 1 / 3 / 3;
      border-radius: var(--radius-xl);
      background-color: color-mix(in oklch, var(--color-primary) 20%, transparent);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);


      .bioSection__image {
        width: 100%;
        margin: var(--spacing-2) auto;
        padding: var(--spacing-2);
        max-width: 300px;
        border-radius: var(--radius-xl);
        object-fit: contain;
        object-position: center;
        @media (max-width: 768px) {
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }

    .bioSection__text {
      grid-area: 1 / 7 / 3 / 8;
      border-radius: var(--radius-lg);
      padding: var(--spacing-2);
      height: 100%;
      width: 100%;
      background-size: 200% auto;
      background: linear-gradient(to bottom, #4776E6 0%, #8E54E9  51%, #4776E6  100%);  
      font-size: var(--font-size-2);
      font-weight: 900;
      color: white;
      text-transform: uppercase;
      writing-mode: vertical-lr;
      display: flex;
      justify-content: center;
      align-items: center;
      text-wrap: wrap;
      @media (max-width: 768px) {
        writing-mode: horizontal-tb;
      }
    }

    .bioSection__paragraphContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--spacing-2);
      background: radial-gradient(
        circle at center top,
        var(--item-background-color) 75%,
        transparent 100%
      );
      padding: var(--spacing-2);
      border-radius: var(--radius-xl);
      border: 2px solid oklch(0.95 0 0);
      height: 100%;
      corner-shape: squircle;
      border: 6px solid color-mix(in oklch, var(--color-primary) 10%, transparent);
      box-shadow:
        lch(66.45% 17.08 256.75 / 0.48) 6px 2px 16px 0px,
        lch(100% 0.01 296.81 / 0.8) -6px -2px 16px 0px;

      .bioSection__paragraph {
        line-height: 1.75;
        letter-spacing: 0.09em;
        font-size: var(--font-size-1);
        text-wrap: pretty;

        &::first-letter {
          font-weight: 600;
          font-size: var(--font-size-2);
          color: var(--color-primary);
        }

        .highlight {
          padding: 0.15rem 0.5rem;
          border-radius: var(--radius-md);
          color: var(--color-primary);
          background-color: color-mix(
            in oklch,
            var(--color-primary) 10%,
            transparent
          );
        }
      }
    }
    .bioSection__paragraphContainer--0 {
      grid-area: 1 / 3 / 3 / 7;  
    }
    .bioSection__paragraphContainer--1 {
      grid-area: 3 / 3 / 5 / 8;
    }
    .bioSection__paragraphContainer--2 {
      grid-area: 5 / 1 / 6 / 6;
    }

    .bioSection__coffeeIcon,
    .bioSection__reactIcon {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      font-size: var(--font-size-2);
      font-weight: 900;
      border-radius: var(--radius-lg);
      padding: var(--spacing-2);
      backdrop-filter: blur(10px);
      color: white;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1) inset;
    }

    .bioSection__coffeeIcon {
      justify-content: flex-end;
      grid-area: 3 / 1 / 4 / 3;
      overflow: hidden;
      position: relative;
      background: linear-gradient(to right, var(--color-secondary) 0%, var(--color-primary) 90%);
      svg {
        position: absolute;
        bottom: -20px;
        left: var(--spacing-1);
        width: 4.5rem;
        height: 4.5rem;
        transform-origin: bottom center;
        animation: wiggle 2s infinite;
      }
    }
    .bioSection__reactIcon {
      overflow: hidden;
      position: relative;
      grid-area: 4 / 1 / 5 / 3;
      background: linear-gradient(to left, var(--color-primary) 0%, var(--color-secondary) 80%);
      svg {
        position: absolute;
        bottom: -20px;
        right: var(--spacing-1);
        width: 5rem;
        height: 5rem;
        animation: spinScale 2s infinite;
      }
    }
    .bioSection__animationContainer {
      grid-area: 5 / 6 / 6 / 8;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--radius-xl);
      background-color: color-mix(in oklch, var(--color-tertiary) 20%, transparent);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      @media (max-width: 768px) {
        max-height: 200px;
      }
    }
  }
}

.seoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);

  .seoSection__content {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: var(--spacing-4);

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .seoSection__content__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    background: radial-gradient(
      circle at bottom right,
      transparent 5%,
      var(--item-background-color) 40%
    );
    padding: var(--spacing-2);
    border-radius: var(--radius-xl);
    border: 2px solid oklch(0.95 0 0);
    corner-shape: squircle;
    box-shadow:
      lch(66.45% 17.08 256.75 / 0.48) 6px 2px 16px 0px,
      lch(100% 0.01 296.81 / 0.8) -6px -2px 16px 0px;

    .seoSection__content__info__item {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);

      .seoSection__content__info__item__title {
        font-size: var(--font-size-2);
        font-weight: 700;
        color: var(--color-primary);
        text-transform: uppercase;
      }

      .seoSection__content__info__item__list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
        font-size: var(--font-size-1);
        list-style: none;
        padding-left: 2em;
        @media (max-width: 768px) {
          padding-left: 1em;
        }

        li {
          display: flex;
          align-items: flex-start;
          gap: var(--spacing-1);
          line-height: 2;
          position: relative;

          &::before {
            content: "\25C9";
            position: absolute;
            top: 0;
            left: -1rem;
            width: 100%;
            height: 100%;
            color: var(--color-primary);
          }

          b {
            color: var(--color-primary);
            padding: 0.15rem 0.5rem;
            border-radius: var(--radius-md);
            background-color: color-mix(
              in oklch,
              var(--color-primary) 10%,
              transparent
            );
          }
        }
      }
    }
  }

  .seoSection__content__assetContainer {
    background: radial-gradient(
      circle at center,
      var(--color-primary) 0%,
      color-mix(in oklch, var(--color-primary) 40%, transparent) 30%
    );
    width: 100%;
    border-radius: var(--radius-xl);
    box-shadow:
      var(--color-primary) 6px 0px 10px 0px,
      var(--color-primary) -6px 0px 10px 0px,
      var(--color-primary) 0px 6px 10px 0px;
      @media (max-width: 1024px) {
        max-width: 500px;
        margin: 0 auto;
      }
      @media (max-width: 768px) {
        aspect-ratio: 1/1;
        max-width: 300px;
        margin: 0 auto;
      }

    .seoSection__content__asset {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.skillsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--spacing-3);
  }

  .skillsSection__content {
    text-align: left;
    z-index: 1;
  }

  .skillsSection__content__description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    line-height: 1.75;
    z-index: 1;
    border-radius: var(--radius-xl);
    corner-shape: squircle;
    padding: var(--spacing-4);
    box-shadow:
      lch(66.45% 17.08 256.75 / 0.48) 6px 2px 16px 0px,
      lch(100% 0.01 296.81 / 0.8) -6px -2px 16px 0px;
    max-width: 700px;
    background: radial-gradient(
      circle at bottom right,
      transparent 5%,
      var(--item-background-color) 40%
    );

    @media (min-width: 768px) {
      padding: var(--spacing-4);
      font-size: var(--font-size-2);
    }

    .skillsSection__content__description__item {
      font-size: var(--font-size-1);
      list-style: none;
      position: relative;
      line-height: 1.75;
      &::before {
        content: "\25C9";
        position: absolute;
        top: 0;
        left: -1rem;
        width: 100%;
        height: 100%;
        color: var(--color-primary);
      }
      strong {
        color: var(--color-primary);
        font-weight: 700;
      }
    }
  }

  .skillsSection__animation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: visible;
    min-height: 0;
    &:before {
      content: "";
      position: absolute;
      top: 70%;
      left: 90%;
      transform: translate(-50%, -50%);
      width: 70vh;
      height: 70vh;
      background: radial-gradient(
        circle at center,
        var(--color-primary) 0%,
        transparent 50%
      );
      transition: all 0.3s ease;
    }
  }
  .skillsSection__path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: visible;
  }

  .skills__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    padding: var(--spacing-2);
    border-radius: var(--radius-lg);
    transition: all 0.3s ease;
    width: 80px;
    height: 80px;
    z-index: 6;
    transition: all 0.3s ease;
    aspect-ratio: 1/1;
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: center;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }

    @media (min-width: 1024px) {
      width: 120px;
      height: 120px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: var(--radius-xl);
      backdrop-filter: blur(10px);
      background-color: oklch(1 0 none / 0.8);
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: brightness(0.7);
      width: 110%;
      height: 110%;
      z-index: -2;
      border-radius: var(--radius-xl);
      background: linear-gradient(
        to right,
        var(--color-primary) 50%,
        oklch(0.75 0.3 270) 100%
      );
    }
  }

  .skills__item__background {
    position: absolute;
    inset: 0;
    transform: translateZ(5px) scale(1.1);
    filter: brightness(0.7);
    width: 110%;
    height: 110%;
    z-index: -2;
  }

  .skills__item__image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: 40px;
    object-fit: contain;

    @media (min-width: 768px) {
      max-width: 50px;
    }

    @media (min-width: 1024px) {
      max-width: 60px;
    }
  }

  .skills__item__name {
    font-size: var(--font-size-1);
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    line-height: 0.9;
    text-wrap: wrap;

    @media (min-width: 768px) {
      font-size: var(--font-size-2);
    }
  }
}

.resumeSection {
  .resumeSection__content {
    display: flex;
    flex-direction: column;
  }

  .resumeSection__header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2);
  }

  .resumeLink__link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    border: 1px solid var(--color-primary);
    font-size: var(--font-size-1);
    padding: var(--spacing-1);
    border-radius: var(--radius-md);
    border: 2px solid var(--color-primary);
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--color-primary);
    background-color: color-mix(
      in oklch,
      var(--color-primary) 10%,
      transparent
    );

    &:hover {
      background-color: var(--color-primary);
      color: oklch(0.95 0 0);
    }

    &:hover .resumeLink__link__icon {
      color: oklch(0.95 0 0);
    }

    @media (min-width: 1024px) {
      max-width: 250px;
      width: 100%;
      text-align: center;
      align-self: flex-end;
    }
  }

  .resumeLink__link__icon {
    color: var(--color-primary);
  }

  .experienceSection,
  .educationSection {
    max-width: 1200px;
    width: 100%;
    margin: var(--spacing-4) auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-2);
  }

  .experienceSection__item,
  .educationSection__item {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-2);
    border-radius: var(--radius-lg);
    box-shadow:
      rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: var(--item-background-color);
  }

  .experienceSection__item__header,
  .educationSection__item__header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-2);
  }

  .experienceSection__title,
  .educationSection__title {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    font-size: clamp(2rem, 2rem + 3.75vw, 10rem);
    font-weight: 600;
    color: color-mix(in oklch, var(--color-primary) 30%, transparent);
  }

  .experienceSection__item__header__name__container,
  .educationSection__item__header__name__container {
    display: flex;
    gap: var(--spacing-1);
    justify-content: space-between;
    align-items: flex-end;
  }

  .experienceSection__item__header__name,
  .educationSection__item__header__name {
    font-size: var(--font-size-2);
    font-weight: 600;
  }

  .experienceSection__item__header__sideInfo,
  .educationSection__item__header__sideInfo {
    font-size: var(--font-size-1);
    color: oklch(0.5 0 0);
    font-weight: 400;
  }

  .experienceSection__item__header__duration,
  .educationSection__item__header__duration {
    align-self: flex-end;
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--color-primary);
    padding: 0.25rem 0.5rem;
    margin-bottom: var(--spacing-1);
    border-radius: var(--radius-lg);
    background-color: color-mix(
      in oklch,
      var(--color-primary) 10%,
      transparent
    );
  }

  .experienceSection__item__description,
  .educationSection__item__description {
    list-style: disc;
    padding-left: var(--spacing-2);
  }

  .experienceSection__item__description__item,
  .educationSection__item__description__item {
    font-size: var(--font-size-1);
    line-height: 2;

    & a {
      color: var(--color-primary);
      text-decoration: underline;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }
}

.projectsSection {
  .projects {
    margin: var(--spacing-4) auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-2);

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .projects__content {
    backdrop-filter: blur(10px) brightness(1.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--radius-lg);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .projects__content__info {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      center at bottom right,
      color-mix(in oklch, var(--color-primary) 50%, transparent) 20%,
      transparent
    );
    border-radius: var(--radius-lg);
    padding: var(--spacing-2);
  }

  .projects__content__image {
    height: auto;
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .projects__content__name {
    font-size: var(--font-size-3);
  }

  .projects__content__description {
    font-size: var(--font-size-1);
  }

  .projects__content__link {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    font-size: var(--font-size-1);
    color: var(--color-primary);
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  25% {
    scale: 0.9;
  }
  50% {
    scale: 1.1;
  }
  75% {
    scale: 0.9;
  }
  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}

@keyframes wiggle {
  0% {
    scale: 1;
    transform: rotate(0deg);
  }
  25% {
    scale: 0.9;
    transform: rotate(-10deg);
  }
  33% {
    scale: 0.9;
    transform: rotate(10deg);
  }
  50% {
    scale: 1.1;
    transform: rotate(10deg);
  }
  66% {
    scale: 0.9;
    transform: rotate(-10deg);
  }
  75% {
    scale: 0.9;
    transform: rotate(-10deg);
  }
  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}