@import "./theme.css";
@import "./variables.css";
@import "./globals.css";
@import "./globals.classes.css";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  /* padding: 0 var(--spacing-3); */
  /* max-width: 1400px; */
  margin: 0 auto;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100svh;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  .container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
.introductionSection,
.bioSection,
.resumeSection,
.projectsSection {
  max-width: 90%;
  @media (min-width: 768px) {
    max-width: 1400px;
  }
}

.introductionSection {
  min-height: 100svh;
  .introductionSection__content {
    height: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-2);
  }

  .introductionSection__title {
    font-size: var(--font-size-3);
    font-weight: 600;
    text-align: center;
    line-height: 1.6;

    & .highlight {
      color: var(--color-primary);
    }
  }

  .introductionSection__logo {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: var(--radius-xl);
    border: 5px solid var(--color-primary);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: oklch(0.95 0 0);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.bioSection {
  .bioSection__content {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-4) auto;
  }
  .bioSection__paragraph {
    margin-bottom: var(--spacing-2);
    line-height: 1.75;
    font-size: var(--font-size-1);
    &::first-letter {
      font-weight: 600;
      font-size: var(--font-size-2);
      color: var(--color-primary);
    }
    .highlight {
      padding: 0.15rem 0.5rem;
      border-radius: var(--radius-md);
      color: var(--color-primary);
      background-color: color-mix(
        in oklch,
        var(--color-primary) 10%,
        transparent
      );
    }
  }
}

.skillsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  padding: var(--spacing-2);
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--spacing-3);
  }

  .skillsSection__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    text-align: left;
    z-index: 1;
    position: relative;
    margin-top: var(--spacing-2);
    font-size: var(--font-size-1);
    border-radius: var(--radius-xl);
    corner-shape: squircle;
    padding: var(--spacing-2);
    box-shadow: lch(66.45% 17.08 256.75 / 0.48) 6px 2px 16px 0px,
      lch(100% 0.01 296.81 / 0.8) -6px -2px 16px 0px;
    position: relative;
    max-width: 800px;
    background: radial-gradient(
      circle at bottom right,
      5%,
      var(--item-background-color) 40%
    );

    @media (min-width: 768px) {
      padding: var(--spacing-4);
      font-size: var(--font-size-2);
    }
  }

  .skillsSection__content__description {
    line-height: 1.75;
    z-index: 1;
  }

  .skillsSection__animation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: visible;
    min-height: 0;
  }

  .skillsSection__path {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: visible;
  }

  .skills__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-1);
    padding: var(--spacing-2);
    border-radius: var(--radius-lg);
    transition: all 0.3s ease;
    width: 80px;
    height: 80px;
    z-index: 1;

    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }

    @media (min-width: 1024px) {
      width: 120px;
      height: 120px;
    }

    &:hover {
      background-color: var(--color-primary);
      transform: scale(1.15) !important;
      color: oklch(0.95 0 0);
      z-index: 2;
    }
  }

  .skills__item__image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: 40px;
    object-fit: contain;

    @media (min-width: 768px) {
      max-width: 50px;
    }

    @media (min-width: 1024px) {
      max-width: 60px;
    }
  }

  .skills__item__name {
    font-size: var(--font-size-1);
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    line-height: 0.9;
    text-wrap: wrap;

    @media (min-width: 768px) {
      font-size: var(--font-size-2);
    }
  }
}

.resumeSection {
  .resumeSection__content {
    display: flex;
    flex-direction: column;
  }

  .resumeSection__header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2);
  }

  .resumeLink__link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    border: 1px solid var(--color-primary);
    font-size: var(--font-size-1);
    padding: var(--spacing-1);
    border-radius: var(--radius-md);
    border: 2px solid var(--color-primary);
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--color-primary);
    background-color: color-mix(
      in oklch,
      var(--color-primary) 10%,
      transparent
    );
    &:hover {
      background-color: var(--color-primary);
      color: oklch(0.95 0 0);
    }

    &:hover .resumeLink__link__icon {
      color: oklch(0.95 0 0);
    }
    @media (min-width: 1024px) {
      max-width: 250px;
      width: 100%;
      text-align: center;
      align-self: flex-end;
    }
  }

  .resumeLink__link__icon {
    color: var(--color-primary);
  }

  .experienceSection,
  .educationSection {
    max-width: 1200px;
    width: 100%;
    margin: var(--spacing-4) auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-2);
  }

  .experienceSection__item,
  .educationSection__item {
    width: 100%;
    margin: 0 auto;
    padding: var(--spacing-2);
    border-radius: var(--radius-lg);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    background-color: var(--item-background-color);
  }

  .experienceSection__item__header,
  .educationSection__item__header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-2);
  }

  .experienceSection__title,
  .educationSection__title {
    font-family: var(--font-family-heading);
    text-transform: uppercase;
    font-size: clamp(2rem, 2rem + 5vw, 10rem);
    font-weight: 600;
    color: color-mix(in oklch, var(--color-primary) 30%, transparent);
  }

  .experienceSection__item__header__name__container,
  .educationSection__item__header__name__container {
    display: flex;
    gap: var(--spacing-1);
    justify-content: space-between;
    align-items: flex-end;
  }

  .experienceSection__item__header__name,
  .educationSection__item__header__name {
    font-size: var(--font-size-2);
    font-weight: 600;
  }

  .experienceSection__item__header__sideInfo,
  .educationSection__item__header__sideInfo {
    font-size: var(--font-size-1);
    color: oklch(0.5 0 0);
    font-weight: 400;
  }

  .experienceSection__item__header__duration,
  .educationSection__item__header__duration {
    align-self: flex-end;
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--color-primary);
    padding: 0.25rem 0.5rem;
    margin-bottom: var(--spacing-1);
    border-radius: var(--radius-lg);
    background-color: color-mix(
      in oklch,
      var(--color-primary) 10%,
      transparent
    );
  }

  .experienceSection__item__description,
  .educationSection__item__description {
    list-style: disc;
    padding-left: var(--spacing-2);
  }

  .experienceSection__item__description__item,
  .educationSection__item__description__item {
    font-size: var(--font-size-1);
    line-height: 2;

    & a {
      color: var(--color-primary);
      text-decoration: underline;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }
}

.projectsSection {
  .projects {
    margin: var(--spacing-4) auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-2);
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .projects__content {
    backdrop-filter: blur(10px) brightness(1.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--radius-lg);
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .projects__content__info {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      center at bottom right,
      color-mix(in oklch, var(--color-primary) 50%, transparent) 20%,
      transparent
    );
    border-radius: var(--radius-lg);
    padding: var(--spacing-2);
  }

  .projects__content__image {
    height: auto;
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: fill;
    object-position: center;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .projects__content__name {
    font-size: var(--font-size-3);
  }

  .projects__content__description {
    font-size: var(--font-size-1);
  }

  .projects__content__link {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1);
    font-size: var(--font-size-1);
    color: var(--color-primary);
    text-decoration: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
}
