@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Red+Hat+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');

/* CSS custom properties (can be used at runtime) */
:root {
    --font-family: 'Nunito', sans-serif;
    --font-family-intro: 'Varela Round', sans-serif;
    --font-family-heading: 'Inter', sans-serif;

    --font-size-1: clamp(0.8rem, 0.8rem + 0.2vw, 1rem);
    --font-size-2: clamp(1rem, 1rem + 0.5vw, 1.5rem);
    --font-size-3: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    --font-size-4: clamp(2rem, 2rem + 2.5vw, 4rem);
    --font-size-5: clamp(2.5rem, 2.5rem + 4vw, 6rem);

    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;

    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 8px);
    --radius-md: calc(var(--radius) - 4px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 16px);
    --radius-full: 9999px;

    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-desktop: 1280px;
}

