.navbar {
    max-width: 36px;
    width: 100%;
    position: fixed;
    top: 35%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    padding: var(--spacing-2) 0;
    background: var(--color-primary);
    border-radius: var(--radius-lg) 0 0 var(--radius-lg);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    .navbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-1);
        text-decoration: none;
        color: white;
        font-size: var(--font-size-1);
        font-weight: 600;
        writing-mode: vertical-rl;
        transition: all 0.3s ease-in-out;
        margin: 0 4px;
        padding: var(--spacing-1) 0;
        border-radius: var(--radius-md);
        &:hover {
            color: color-mix(in oklch, var(--color-primary) 50%, oklch(0.1 0 0));
            background-color: oklch(1 0 none / 0.75);
        }
    }
}